body {
    overflow-x: hidden;
    background: linear-gradient(180deg, #FFF 0%, #F0F1FF 100%);
    width: 100vw;
}

body,
html {
    margin: 0;
    padding: 0;
}

.header {
    color: white;
    text-align: center;
    height: 120px;
    display: flex;
    justify-content: center;
    padding: 0px 16px;
}

.header-content {
    max-width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.image-container {

    top: -250px;
    right: -290px;
    position: absolute;
}

#woman {
    height: auto;

    width: 931px;
}

#woman2 {
    display: none;
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 1200px) {
    #woman {
        width: 800px;
    }
}

@media only screen and (max-width: 1024px) {
    #woman {
        width: 750px;
    }
}

@media only screen and (max-width: 876px) {
    #woman {
        width: 650px;
    }
}

@media only screen and (max-width: 768px) {
    #woman {
        width: 600px;
    }
}

@media only screen and (max-width: 600px) {
    #woman {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    #woman2 {
        display: block;

    }
}

#skilled {
    width: 111.16799926757812px;
    height: 27.68400001525879px;
    color: #13183F;
}

#get-started {
    display: flex;
    width: 167px;
    height: 56px;
    background-color: #13183F;
    border-radius: 31.5px;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700 !important;
    font-family: 'Plus Jakarta Sans';
    border: none;
    z-index: 2;
}

#get-started p {
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700 !important;
    font-family: 'Plus Jakarta Sans';

}

/* .maxsimize-skill {
    width: 500px;
    height: 359px;
    margin-top: 252px;
    margin-left: 165px;
    display: inline-block;
    color: white;
    /* border: solid 5px black; */
/* } */

.maxsimize-skill-main {
    display: flex;
    justify-content: center;
    width: 100%;

}

.maxsimize-skill {
    max-width: 1110px;
    width: 100%;
    display: flex;
    justify-content: flex-start;

}

.maxsimize-skill-div {
    display: flex;
    width: 50%;
    gap: 30px;
    flex-direction: column;

}


.maxsimize-skill h1 {
    font-family: 'Plus Jakarta Sans';
    font-size: 56px;
    font-style: normal;
    font-weight: 900 !important;
    line-height: normal;
    color: var(--13183-f, #13183F);
    margin: 100px 0px 0px 0px;

}

.maxsimize-skill p {
    color: var(--83869-a, #83869A);
    margin: 0px;
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-style: normal;
    line-height: 28px;
    font-weight: 500 !important;
}

#get-started2 {
    display: flex;
    width: 167px;
    height: 63px;
    background: var(--gradient-1, linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%));
    border-radius: 31.5px;
    color: white;
    text-align: center;
    justify-content: center;


    align-items: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700 !important;
    font-family: 'Plus Jakarta Sans';
    border: none;
}

.main-container {

    width: 100%;
    display: flex;
    justify-content: center;

}

.container {
    height: auto;
    max-width: 1110px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    row-gap: 80px;
    margin-top: 220px;
    padding: 0px 16px;

    /* margin-right: 120px; */
    /* margin-left: 165px; */

}

.box {
    max-width: 350px;
    width: 100%;
    height: 322px;
    background-color: #ffffff;
    display: flex;
    border-radius: 15px;
    flex-direction: column;

}

.box h2 {
    color: var(--13183-f, #13183F);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 20px;
    margin-top: 65px;
}

.box p {
    color: var(--83869-a, #83869A);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Plus Jakarta Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin-left: 20px;
}

#box1 {

    background: var(--gradient-1, linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%));

}

#box1 p {
    font-family: 'Plus Jakarta Sans';
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    color: white;
    margin-left: 30px;
    margin-top: 55px;
    width: 250px;

}

#get-started3 {
    color: var(--f-74780, #F74780);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Plus Jakarta Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    background: transparent;
    border: none;
    display: flex;
    justify-content: flex-start;
    margin-left: 17px;
}

.box svg {
    position: absolute;
    margin-left: 20px;
    margin-top: -20px;
}

.footer {
    color: white;
    text-align: center;
    height: 120px;
    margin-top: 150px;
    background: var(--13183-f, #13183F);
    display: flex;
    justify-content: center;
    padding: 0px 16px;
}

.footer-content {
    max-width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer svg {
    display: flex;
    justify-content: flex-start;


}

#get-started4 {
    display: flex;
    width: 167px;
    height: 56px;
    border-radius: 28px;
    background: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
    border-radius: 31.5px;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700 !important;
    font-family: 'Plus Jakarta Sans';
    border: none;

}